.card {
  font-family: Menlo, baskerville, sans;
  font-size: 20px;
  text-align: center;
  color: #ECEFF1;
  background-color: #263238;
  line-height: 1.6em;
  padding: 10px 0px;
  max-width: 700px;
  margin: 0 auto;
  word-wrap: break-word;

}

.cloze {
 font-weight: bold;
 color: #03A9F4;
}

hr {
  border: 2px solid #ECEFF1;
  border-radius: 5px;
  margin: 25px 0px
}

img {
  display: block;
  max-width: 100%;
  max-height: none;
  margin-left: auto;
  margin: 10px auto 10px auto;
}

#question {
  font-weight: bold;
}

b {
  color: #FFA000 !important;
}

/***************************\
 * Type Questions          *
\***************************/
#typeans * {
  padding: 2px;
  color: #263238;
}
.typeBad {
  background: #E91E63;
}
.typeGood {
  background: #8BC34A;
}
.typeMissed {
  background: #CFD8DC;
}


/***************************\
 * Multiple Choice Styling *
\***************************/
.choiceIndex {
  font-weight: bold;
}
.code {
  font-weight: normal;
  font-family: Andale Mono;
  color: #FFA000;
  text-align: left;
  display: block;
  margin: 10px 25px;
}
